<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <br>
        <h2>The Randall Dow school for exceptional children</h2>
        <br>
        <h3>Current Students:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}>{{this.description}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
        <br>
      </div>
    </div>
  </div>
</div>
<div class="newstudent">
  <form class="clearfix mb-4" action="POST">
    <h3>Add a new student:</h3>
    <div class="form-group col-6 offset-3">
      <label for="example-text">Student Name</label>
      <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Student Name">
    </div>
    <div class="form-group col-6 offset-3">
      <label for="example-description">Teacher Last Name</label>
      <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Teacher Name"></textarea>
    </div>
    <button id="submit" class="btn btn-primary align-center">Submit</button>
  </form>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>